@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$theme-colors: (
  "primary":#8c4bff, //#2D46B9,
  "dark": #242424,
  "light": #F8F8F8,
  "danger": #fd798c, //#F037A5,
  "secondary": #EBEBEB,
  "warning": #f8b432,
);

$font-family-base: 'Roboto', sans-serif;

// #2B2A82

@import "~bootstrap/scss/bootstrap";
@import "./helpers.scss";
@import "./login-page.scss";
@import "./details.scss";

* {
  box-sizing: border-box;
}

